<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="A4201002_password" value="5Eh=h%#TeSpH7?Fa"/>
    <add key="A3000156_password" value="cUAV9%yl!hLEar7)^c81"/>
    <add key="A3051025_password" value="]S+?&lt;NMM63C#rJ2q"/>
    <add key="A3000096_password" value="3L@aHk5dh^tAky1F)&lt;2-"/>
    <add key="A3000102_password" value="h&gt;p&lt;t@1LL6ZhC8}@w4uz"/>
    <add key="jsonawk_password" value="Spiderman09"/>
    <add key="jnaths_password" value="Tyco2345"/>
    <add key="MachineNames" value="j051ma43,j051mb41,j051mb42,j051m200,j051m217,j051m196,j051m199,j051mb82,j051mb12,j051m198,j051m201,j051ma98,j051ma99,j051m195,j051m197,j051m187,j051m188,j051m189,j051m181,j051m185,j051m204"/>
    <add key="AccountNames" value="A4201002,A3000102,A3000156,A3000096,A3051025,jsonawk,jbhagan,jpalanj,jnaths"/>
    <add key="DomainNames" value="jci,corpweb,jcplc"/>
    <add key="processName_RPAAgent" value="RPAAgentView"/>
    <add key="processName_RoboView" value="RoboSE"/>
    <add key="sessionStatuses" value="Active,Disconnected,Listen"/>
    <add key="Drive" value="D:"/>
    <add key="SEPath" value="D$\SE_8.5.1.0_Release\SE_8.5.1.0_Release\RobotAgent_"/>
    <add key="ConfigPath" value="\Configurations\config.xml"/>
    <add key="configFileName" value="config.xml"/>

    <!--Automation Status Tracker Variables-->
    <add key="UCNames" value="IPA 758,UC 502,IPA 199,BENA"/>
    <add key="EnviormentLG" value="PROD"/>
    <add key="Filter" value="Total UAP Tickets picked by AE" />
    <add key="Basic" value="Basic"/>
    <add key="Application_json" value="application/json"/>
    <add key="Post_URL_PROD" value="http://ocoejira.johnsoncontrols.com/browse/" />
    <add key="URL_PROD" value="http://ocoejira.johnsoncontrols.com/" />
    <add key="Favourite_URL_PROD" value="http://ocoejira.johnsoncontrols.com/rest/api/2/filter/favourite" />
    <add key="Transitions" value ="/transitions" />
    <add key="RestApi" value ="rest/api/2/issue/" />
    <add key="Post_URL_TEST" value="https://ocoejiratest.johnsoncontrols.com/browse/" />
    <add key="Favourite_URL_TEST" value="https://ocoejiratest.johnsoncontrols.com/rest/api/2/filter/favourite" />
    <add key="Attachment_URL" value="http://ocoejira.johnsoncontrols.com/secure/attachment/"/>
    <add key="TrackerFileName" value="Automation Status Tracker.xlsx"/>
    <add key="TrackerPath" value="C:\Users\jsonawk\Desktop\Automation Status Tracker.xlsx" />
    <add key="username" value="jsonawk"/>
    <add key="password" value="Spiderman09"/>
    <add key="ResultSize" value="40000"/>
    <add key="BENAFeildName" value="BE-NA Ticket Summary"/>
    <add key="BENAColumns" value="_id, _index, _type, TicketId, RequestName, TicketStatus, Comments, TicketCreationDate, ProcessedDateTime,'@timestamp'"/>
    <add key="BENAFeildValue" value="NOT _missing_:TicketStatus AND NOT _missing_:RequestName AND !TicketId:SR* -TicketId:*IT* AND NOT TicketStatus:&quot;On Hold&quot; AND Robots:BENAOracleUAP"/>
    <add key="BENAKeyColumns" value="TicketId,RequestName"/>
    <add key="IPA758FeildName" value="IPA 758 Summary Log"/>
    <add key="IPA758Columns" value="Time,InvoiceNumber_758,Match_758,InvoiceAmount_758,SupplierNumber_758,SupplierName_758,Status_758,Plant_758,RFC_758,InvoiceCurrency_758,HoldCode_758,Comment_758,ExTicketId_758,Rundatetime_758 "/>
    <add key="IPA758FeildValue" value="NOT _missing_ :InvoiceNumber_758 and NOT _missing_:Status_758 and (Status_758:Pass OR Status_758:Fail)"/>
    <add key="IPA758KeyColumns" value="Match_758,Status758"/>
    <add key="BaanFeildName" value="BaanTimeBased"/>
    <add key="BaanColumns" value="Time,BaanID_UC502,Comment_UC502,Status_UC502,TicketNumber_UC502,TicketType_UC502,UID_UC502,UserName_UC502,ApplicationName_UC502"/>
    <add key="BaanFeildValue" value="(Status_UC502:Pass OR Status_UC502:Fail) AND ApplicationName_UC502:&quot;NA&quot; AND NOT ApplicationName_UC502:&quot;UC502ServiceNowTicketUpdate&quot;"/>
    <add key="BaanKeyColumns" value="TicketNumber_UC502,Status_UC502"/>
    <add key="IPA199FeildName" value="IPA199SummaryLog"/>
    <add key="IPA199Columns" value="Time,ProcessName_199,Barcode_199,Invoicenumber_199,Invoicedate_199,Netamount_199,Ponumber_199,Suppliernumber_199,Batch_199,Comment,Status"/>
    <add key="IPA199FeildValue" value="NOT _missing_:Invoicenumber_199 AND NOT Barcode_199 : NA AND _missing_:Audit_199"/>
    <add key="IPA199KeyColumns" value="Status,InvoiceNumber_199"/>
    <add key="AssistedgeTrackerPath" value="C:\Users\jsonawk\Desktop\AssistEdge Automation Report Sep2017.xlsx"/>
    <add key="TemplateSheetName" value="Template"/>
    <add key="AssistedgeTrackerName" value="AssistEdge Automation Report Sep2017.xlsx"/>
  </appSettings>
</configuration>